<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.springcloud.payment.mapper.PaymentMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResult" type="com.breeze.springcloud.entities.Payment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="serial" column="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentById" resultMap="BaseResult" parameterType="Long">
        select * from payment
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="savePayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial});
    </insert>
</mapper>